body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#lobby-view {
    z-index: -1;
}

div.board {
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

#log {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid green;
    background-color: rgba(255,255,255,0.5);
    z-index: 3;
}
#log:hover {
    background-color: white;
}
#log.messy {
    background-color: rgba(255,215,0,0.5); /* gold */
    font-weight: bold;
}
#log.messy:hover {
    background-color: gold;
}
#scores {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    user-select: none;
    background-color: rgba(255,255,255,0.5);
}
#scores:hover {
    z-index: 9;
    background-color: white;
}

#scores td.score {
    text-align: right;
}

#scores td.meld {
    text-align: left;
}

#scores th {
    text-align: right;
}

#header th {
    border-bottom: 1px solid black;
}

#footer th {
    border-top: 1px solid black;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
}

.narrowcard {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 96px;
}
.widecard {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
    width: 72px;
    height: 96px;
    margin: 3px;
}
.outercard {
    background-color: linen;
    position: absolute;
    display: inline-block;
    width: 72px;
    height: 96px;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    box-shadow: 5px 5px 5px grey;
}
.outercard:hover {
    background-color: lavender;
}
.innercard {
    font-family: 'Noto Sans Symbols 2';
    position: absolute;
    display: inline-block;
    width: 86px;
    height: 112px;
    top: -3px;
    left: -7px;
    font-size: 128px;
    line-height: 144px;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.wideplaincard {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 72px;
    margin: 3px;
}
.outerplaincard {
    background-color: linen;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 72px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    margin: 3px;
}
.outerplaincard:hover {
    background-color: lavender;
}
.innerplaincard {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    width: 40px;
    height: 72px;
    user-select: none;
    cursor: default;
    text-align: center;
    margin-top: -2px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.innerplaincard1 {
    font-family: 'Noto Sans JP', 'IBM Plex Sans KR';
}
.innerplaincard2 {
    font-family: 'IBM Plex Sans KR', 'Noto Sans JP';
}
span.vertical {
    writing-mode: vertical-rl;
    font-weight: bold;
}

.chat {
    font-size: 18px;
    position: absolute;
    text-align: right;
    right: 0px;
    top: -18px;
    background-color: rgba(255,255,255,0.5);
    z-index:0;
}

span.meld .narrowcard {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 72px;
}

span.meld .widecard {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 72px;
}

span.meld .outercard {
    vertical-align: top;
    position: absolute;
    font-size: 96px;
    width: 54px;
    height: 72px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px grey;
    z-index: 1;
}

span.meld .innercard {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -4px;
    width: 62px;
    height: 76px;
    font-size: 96px;
    line-height: 108px;
}

span.meld .wideplaincard {
    vertical-align: top;
    width: 20px;
    height: 40px;
    box-shadow: 2px 2px 2px grey;
    z-index: 2;
}

span.meld .outerplaincard {
    vertical-align: top;
    width: 20px;
    height: 40px;
    box-shadow: 2px 2px 2px grey;
    z-index: 2;
}

span.meld .innerplaincard {
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 40px;
}

span.meld {
    position: relative;
    top: 20px;
    margin-right: 20px;
}

span.banner {
    vertical-align: middle;
    font-size: 32px;
    margin: 24px;
}

div.curr {
    background-color: rgba(255,255,0,0.5); /* yellow */
    position: relative;
    z-index: 1;
}
div.curr:hover {
    z-index: 9;
}
div.mymeld:hover {
    z-index: 9;
}

div.other {
    position: relative;
    z-index: 0;
}

div.otherhand {
    position: relative;
    z-index: 0;
}
div.otherhand:hover {
    z-index: 9;
}

div.want {
    background-color: rgba(255,215,0,0.5); /* gold */
    position: relative;
    z-index: 0;
}

div.auto {
    background-color: rgba(211,211,211,0.5); /* lightgray */;
    position: relative;
    z-index: 0;
}

div.buttons {
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

div#match-exit {
    position: absolute;
    top: 0px;
    left: 48%;
    vertical-align: middle;
    z-index: 0;
}

div#lobby-exit {
    position: absolute;
    top: 20px;
    left: 48%;
    vertical-align: middle;
    z-index: 0;
}

.lit {
    background-image: none;
    -webkit-background-clip: border-box;
    background-color: gold;
}
.lit:hover {
    background-color: orange;
}
.drag span {
    background-color: transparent !important;
    transform: rotate(0deg) !important;
}
.diamond {
    background-image: linear-gradient(to bottom, firebrick, firebrick);
    -webkit-background-clip: text;
    color: transparent;
}
.heart {
    background-image: linear-gradient(to bottom, red, red);
    -webkit-background-clip: text;
    color: transparent;
}

.club {
    background-image: linear-gradient(to bottom, #060, #060);
    -webkit-background-clip: text;
    color: transparent;
}
.spade {
    background-image: linear-gradient(to bottom, black, black);
    -webkit-background-clip: text;
    color: transparent;
}

.wild {
    background-image: linear-gradient(to bottom, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.facedown {
    color: purple;
}

.pile {
    box-shadow: 5px 5px 5px grey;
}

button.rummy {
    font-size: 18px;
    margin: 5px;
}

button.up {
    vertical-align: 200%;
}
